*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:sans-serif ;
}

body{
    background-color: blueviolet;
}
.container{
    display: grid;
    place-items: center;
    height: 100vh;
}
.box{
    padding: 20px;
    /* display: flex;
    text-align: center;
    align-items: center; */
    background-color: white;
    
    width: 400px;
}

.upper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upper h1{
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
form input{
    width: 100%;
    height: 40px;
padding:10px 15px ;
border: 1px solid black;
}
 form button{
    margin-bottom: 5px;
    margin-top: 3px;
    width: 100%;
    height: 40px;
padding:10px 15px ;
background-color: darkorchid;
border: 2px solid black;
color: white;
opacity: 0.7;
transition: 0.3s ease-in;

}
button:hover{
    transition: 0.3s ease-in;
opacity: 1;
}
button:active{
background-color: black;
}

 .qr_container{
border:1px solid black;
display: flex;
justify-self: center;
display: none;
height: 0;
opacity: 0;

}
.qr_container.show{
opacity: 1;
display: flex;
padding: 10px;
height: 170px;
transition: 0.3s ease-in, height 0.1s ease;
}
.qr_container img{
height: 150px;

}

@media(max-width:500px){
 .box{
    width: 95%;
 }   
 .box h1{
font-size: 24px;
 }
 .upper p{
    font-size: 14px;
 }
}